
\.vs/GooTrader/v15/Server/sqlite3/storage\.ide-shm

GooTrader/bin/

GooTrader/obj/

\.vs/GooTrader/v15/\.suo

\.vs/GooTrader/DesignTimeBuild/

\.vs/GooTrader/v15/

\.vs/GooTrader/v16/Server/sqlite3/storage\.ide

\.vs/GooTrader/v16/\.suo

.vs/GooTrader/v16/Server/sqlite3/storage.ide-wal

.vs/GooTrader/v16/Server/sqlite3/

.vs/GooTrader/v16/
